<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <style>
        *{
            background-color: black;
            color: white;
        }
        button{
            width: 100px;
height: 30px;
background-color: green;
        }
    button:hover{
        background-color: blue;
    }
    
    </style>
</head>
<body>
    <ul>
        <li>Dictionary</li>
        <li>Html tags</li>
        <li>Topics</li>
    </ul>

    <button>Courses</button>
</body>
</html>